/* для елемента input з type="radio" */
.style-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для елемента label зв'язаного з .style-radio */
.style-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* створення в label псевдоелемента before з наступними стилями */ 
.style-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стилі при наведенні курсора на radio */
.style-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

/* стилі для активної радіокнопки (при натисканні на неї) */ 
.style-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стилі для радіокнопки, яка знаходиться в фокусі */
.style-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стилі для радіокнопки, яка знаходиться в фокусі і яка не знаходиться в стані checked */
.style-radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

/* стилі для радіокнопки, яка знаходиться в стані checked */
.style-radio:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стилі для радіокнопки, яка знаходиться в стані disabled */
.style-radio:disabled+label::before {
  background-color: #e9ecef;
}